---
interface Props {
	title: string;
	description: string;
}
import '../styles/global.css';

const { title, description  = "Default description of your website" } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/main_logo3.png" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="/Me/B5BC3818-8C25-4D85-9671-023F0EF5F730_4_5005_c.jpg" />

		<!-- Twitter -->
		<!-- <meta property="twitter:card" content="summary_large_image" /> -->
		<meta property="twitter:url" content={Astro.url} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content="/Me/B5BC3818-8C25-4D85-9671-023F0EF5F730_4_5005_c.jpg" />
	</head>
	<body class="font-space-mono">
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);  --base-font-size: 8px;

	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		scroll-behavior: smooth;		
		font-size: calc(var(--base-font-size) + 0.60vw);

	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
